#choice{
    height:200px;
    color: black;
}

#log{
    height: 250px;
    overflow: scroll;
    overflow-x: hidden;
    color: white;
}

#art{
    height:350px;
}

.artBACKGROUND {
    background-color: white;
    color: black;
}

.bg_gray{
    background-color: gainsboro;
}

.damage {
    color: black;
}

.black{
    color: black;
}

.widthIMG {
    width: 500px;
    margin-bottom: 20px;
    margin-left: 110px;
    margin-top: 15px;
}

.container-fluid {
    background-color: lightgray;
}

.widthbig {
    width: 450px;
    background-color: white;
}

.dispfluid {
    width: auto;
}

.tableplacement {
    padding-top: 50px;
    margin-left: 30%;
}

.rowCLASS {
    margin-bottom: 15px;
    margin-top: 45px;
    margin-left: 210px;
}

.inventoryTOP {
    margin-top: 30px;
}

.imgSizeChanger {
    width: 200px;
    height: auto;
    margin-top: 7.5px;
    margin-left: 115px;
}

.flex {
    display: flex;
    flex-wrap: nowrap;
}

.flex > div {
    margin: 30px;
}

.w-10 {
    width: 25px;
}

.ml-10 {
    margin-left: 50px;
}

.h-10 {
    height: 25px;
}

html {
    font-family: 'Press Start 2P', cursive;
    background-color: lightgray;
}