#choice{
    background-color:red;
    height:200px;
    color: black;
}
#log{
    background-color:red;
    height:250px;
    color: white;
}
#art{
    background-color:red;
    height:350px;
    color: whitesmoke;
}
#items{
    background-color:red;
    height:100px;
    color: whitesmoke;
}

.bg_gray{
    background-color:gainsboro;
}
.damage{
    color: white;
}

.imgSizeChanger {
    width: 200px;
    height: auto;
    margin-top: 15%;
}

#log{
    overflow: scroll;
    color: white;
}